@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    background-color: rgb(246, 246, 246);
}

input {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(132, 182, 211);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1.5px solid rgb(103, 126, 158);
    margin-top: 20px;
}

.btn:hover {
    background-color: rgb(105, 145, 204);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 225px;
    margin: 0 auto;
}

.form-container .btn {
    margin-top: 35px;
}

.form-container h1 {
    margin: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    padding: 3.5px;
}

.form-group label {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    text-align: left;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

.left-column {
    display: flex;
    flex: 1;
    max-width: fit-content;
    align-items: center;
    flex-direction: column;
}

.column {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.left-column button {
    width: 200px;
    height: 70px;
}

.releases-box {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    width: 100%;
    padding: 20px;                     
    background-color: #e5e5e5;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.releases-box-title {
    grid-column: 1 / -1;
    font-weight: bold;
}

.releases-box-section {
    height: 225px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(94, 94, 94, 0.2);
    text-align: right;
    color: black;
}

.releases-box-section p, b {
    margin-right: 5px;
}

.spacing-10px {
    margin-top: 10px;
}