@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    background-color: rgb(246, 246, 246);
}

input {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(132, 182, 211);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1.5px solid rgb(103, 126, 158);
    margin-top: 20px;
}

.btn2 {
    padding: 7px 15px;
    font-size: 1rem;
    background-color: rgb(132, 182, 211);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1.5px solid rgb(103, 126, 158);
}

.like-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
    background-color: rgb(231, 178, 178);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1.5px solid rgb(171, 130, 130);
}

.like-btn:hover {
    background-color: rgb(205, 150, 150);
}

.btn:hover {
    background-color: rgb(105, 145, 204);
}

.btn2:hover {
    background-color: rgb(105, 145, 204);
}



/* MAIN MENU STLYING  */
.top-of-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* manually center the top of the menu, becuase the "Sole Together" skews it a bit, prob a better way to do this  */
.top-of-menu p {
    transform: translateX(-57px);
}

.profile-icon {
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 225px;
    margin: 0 auto;
}

.form-container .btn {
    margin-top: 35px;
}

.form-container h1 {
    margin: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    padding: 3.5px;
}

.form-group label {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    text-align: left;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

.discussion-container {
    display: flex;
    justify-content: space-between;
}

.left-column {
    display: flex;
    flex: 1;
    margin-left: 3%;
    max-width: fit-content;
    align-items: center;
    flex-direction: column;
}

.column {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.left-column button {
    width: 200px;
    height: 70px;
}

.releases-box {
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    width: 100%;
    padding: 20px;                     
    background-color: #e5e5e5;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.releases-box-title {
    grid-column: 1 / -1;
    font-weight: bold;
}

.releases-box-section {
    height: 225px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(94, 94, 94, 0.2);
    text-align: right;
    color: black;
}

.releases-box-section img {
    width: 100%;
    height: auto;
    max-height: 150px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 8px; 
    margin-left: 2vw;
}

.releases-box-section p{
    margin-right: 5px;
}

.releases-box-section b {
    margin-right: 5px;
    font-size: 1.5rem;
}

.spacing-10px {
    margin-top: 10px;
}






/* SEARCH STYLING  */

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.search-results {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(94, 94, 94, 0.2);
    background-color: #ffffff;
    width: 300px;
    flex: 0 0 auto;
    margin: 0;
}

.search-results:hover {
    cursor: pointer;
    background-color: #e9e9e9;
}

.search-result-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 10px 0;
}

.button-group {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}


/* SNEAKER PAGE STLYING  */

.sneaker-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sneaker-details {
    text-wrap: wrap;
}

.sneaker-info-and-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 75vw;
    min-width: 75vw;
    background-color: #e6edf0;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(94, 94, 94, 0.2);
    padding: 20px;
    gap: 20px;
    border: 1px solid #b6c0c4;
}

.sneaker-image-circle {
    /* margin-left: 5vw; */
    width: 300px;
    height: 270px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.sneaker-image-circle img {
    width: 250px;
    height: auto;
    object-fit: cover;
}

.third-party-app-links {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.goat-image {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    gap: 20px;
}

.stockx-image {
    margin-left: 40px;
    height: 55px;
    width: auto;
    object-fit: cover;
    gap: 20px;
}



.sneaker-discussions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85vw;
    min-width: 85vw;
    background-color: #e6edf0;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(94, 94, 94, 0.2);
    padding: 20px;
    gap: 20px;
    border: 1px solid #b6c0c4;
}

.form-group-sneaker-discussions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 3.5px;
}

.form-group-sneaker-discussions textarea {
    width: 100%;
    font-size: 1rem;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #b6c0c4;
}


.discussion-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 3.5px;
}

.discussion-item {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 8px 16px rgba(94, 94, 94, 0.2);
    background-color: white;
    width: 100%;
    margin: 2.5px;
    border-radius: 10px;
    padding: 5px;
}

.timestamp {
    color: #848484;
    font-size: 0.8rem;
}

.likes {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.discussion-item p {
    margin-left: 5px;
    margin-right: 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.menu-button-container {
    align-items: flex-start;
}





/* GENERAL DISCUSSION STYLING */


.general-discussion-box {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    grid-gap: 15px;
    width: 100%;
    padding: 20px;                     
    background-color: #e5e5e5;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.general-discussion-entry {
    padding: 20px;                     
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.collection-image, .wishlist-image {
    width: 150px;
    height: auto;
    margin: 10px 0;
}

.sneaker-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.sneaker-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(94, 94, 94, 0.2);
}

.sneaker-info {
    margin-top: 10px;
}