<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/app.css"/>
        <title>SoleTogether</title>
    </head>
<body>
    <h1>SoleTogether</h1>
    <div class = "options-index">
        <form class = "spacing-10px" action="/login">
            <button class='btn'>login</button>
        </form>
        <form class = "spacing-10px" action="/signup">
            <button class='btn'>signup</button>
        </form>
    </div>
</body>
</html>