<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/app.css"/>
        <script src="{{ url_for('static', filename='theme.js') }}"></script>
        <title>SoleTogether</title>
    </head>
<body>
    <div class="top-of-menu">
        <h2>SoleTogether</h2>
        <p>Main Menu</p>
        <div class="top-right-controls">
            <button id="theme-toggle" class="theme-btn">
                <span id="theme-icon">🌙</span>
            </button>
            <a href="{{ url_for('view_profile', username=session.username) }}">
                <img class="profile-icon" src="{{ url_for('static', filename='prof.jpeg') }}" alt="profile icon" style="cursor: pointer;">
            </a>
        </div>
    </div>
    <div class="menu-container">
        <div class="left-column">
            <form action="/discussion" method="GET">
                <button class="btn">Discussions</button>
            </form>
            <br>
            <form action="{{ url_for('view_collection') }}" method="GET">
                <button class="btn">My Collection</button>
            </form>
            <br>
            <form action="{{ url_for('view_wishlist') }}" method="GET">
                <button class="btn">My Wishlist</button>
            </form>
            <br>
            <form action="/sneakerSearch" method="POST">
                <button class="btn">Search Sneakers</button>
            </form>
        </div>
        <div class="releases-box">
            {% if top_four %}
                <div class="releases-box-title">
                    <p>Top Releases from {{ top_four[0].brand }}</p>
                </div>
                {% for sneaker in top_four %}
                    <div class="releases-box-section">
                        <a href="{{ url_for('sneaker_page', sku=sneaker.sku) }}" style="text-decoration: none; color: inherit;">
                            <b>{{ sneaker.name }}</b>
                            <p>Brand: {{ sneaker.brand }}</p>
                            <p>Average Price: ${{ sneaker.resell_price or 'N/A' }}</p>
                            <img src="{{ sneaker.img_url }}" alt="{{ sneaker.name }}">
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No releases found.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>