<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/app.css"/>
        <title>SoleTogether</title>
    </head>
<body>
    <h1>Main Menu</h1>
    <div class = "menu-container">
        <div class = "left-column">
            <form action="/discussion" method="GET">
                <button class="btn">Discussions</button>
            </form>
            <br>
            <form action="/wishlist" method="POST">
                <button class = "btn">My Collection</button>
            </form>
            <br>
            <form action="/collection" method="POST">
                <button class = "btn">My Wishlist</button>
            </form>
            <br>
            <form action="/collection" method="POST">
                <button class = "btn">Search Sneakers</button>
            </form>
            <br>
            <form action="/collection" method="POST">
                <button class = "btn">Search Users</button>
            </form>
        </div>
        <div class = "column releases-box">
            <div class = "releases-box-title">
                <p>New Releases from: NIKE</p>
            </div>
            <div class = "releases-box-section">
            </div>
            <div class = "releases-box-section">     
            </div>
            <div class = "releases-box-title">
                <p class = "spacing-10px">Popular Releases from: ADIDAS</p>
            </div>
            <div class = "releases-box-section">
                <b>Adidas Yeezy Boost 350 Turtle Dove</b>
                <p>Average Price: $375</p>
            </div>
            <div class = "releases-box-section">
                <b>Adidas Samba Messi</b>
                <p>Average Price: $110</p>
            </div>
        </div>
    </div>
</body>
</html>