<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/app.css"/>
        <script src="{{ url_for('static', filename='theme.js') }}"></script>
        <title>SoleTogether</title>
    </head>
<body>
    <!-- <div class="top-of-menu">
        <h2>Tutorial4BRUH</h2>
        <p></p>
        <div class="top-right-controls">
            <p></p>
        </div>
    </div> -->
    <div class = "center-button-tutorial" >
        <h2> Interacting with SoleTogether </h2>
    </div>
    <br>
    <div class = "tutorial4-container">
        <p>The top left corner of your screen will always display "SoleTogether"</p>
        <p>Click that at anytime to go back to the main menu </p>
    </div>
    <br>
    <div class = "tutorial4-container">
        <p>Items and Usernames are clickable!</p>
        <p>Click on them and you will be redirected to their respective pages</p>
    </div>
    <br>
    <div class = "tutorial4-container">
        <p>Near your profile icon will be this symbol 🌙</p>
        <p>Click this icon to toggle between "light" and "dark" mode in the app</p>
    </div>
    <div class = "center-button-tutorial" >
        <form method="POST">
            <input type="hidden"/>
            <button type="submit" class="btn">Explore SoleTogether</button>
        </form>
    </div>



