<!DOCTYPE html>
<html>
<head>
    <title>My Wishlist</title>
    <link rel="stylesheet" href="static/app.css"/>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>My Wishlist</h1>
        <form action="/menu" method="GET">
            <button class="btn">Back to Menu</button>
        </form>
        <div class="sneaker-grid">
            {% for item in items %}
            <div class="sneaker-card">
                <a href="/sneakerpage?sku={{ item[1] | urlencode }}" style="text-decoration: none; color: inherit;">
                    <img src="{{ item[5] }}" alt="{{ item[2] }}" class="wishlist-image">
                    <div class="sneaker-info">
                        <h3>{{ item[3] }}</h3>
                        <p>{{ item[2] }}</p>
                        <p>${{ item[4] }}</p>
                        <div class="button-group">
                            <form action="{{ url_for('move_to_collection') }}" method="post">
                                <input type="hidden" name="wishlist_id" value="{{ item[0] }}">
                                <input type="hidden" name="sku" value="{{ item[1] }}">
                                <input type="hidden" name="image" value="{{ item[5] }}">
                                <input type="hidden" name="name" value="{{ item[3] }}">
                                <input type="hidden" name="brand" value="{{ item[2] }}">
                                <input type="hidden" name="price" value="{{ item[4] }}">
                                <button type="submit" class="btn">Move to Collection</button>
                            </form>
                            <form action="{{ url_for('remove_from_wishlist') }}" method="post">
                                <input type="hidden" name="wishlist_id" value="{{ item[0] }}">
                                <button type="submit" class="btn">Remove</button>
                            </form>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>